*{
  margin: 0;
  padding: 0;   
}
.name{
    display: flex;
    height:10vh;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}
>.name1{
    color:black !important;
}
.left{
    display: inline-flex;
    flex-direction: column;
    width:35vw;
    padding: 1vh 15vw 0vh 2vw ;
    margin-right: 20px;
    border-right: 0.5px solid rgb(197, 161, 161);
}

.right{
    display: inline-flex;
    flex-direction: column;
}
h1 {
    text-decoration: underline;
    color: brown;
}
.main{
    line-height: 40px;
}
